[submodule "awesometts-anki-addon"]
	path = awesometts-anki-addon
	url = https://github.com/evandroforks/awesometts-anki-addon
[submodule "speed-focus-mode"]
	path = speed-focus-mode
	url = https://github.com/evandroforks/speed-focus-mode
[submodule "CrowdAnki"]
	path = CrowdAnki
	url = https://github.com/evandroforks/CrowdAnki
[submodule "TemplatesImportExport"]
	path = TemplatesImportExport
	url = https://github.com/evandroforks/Templates-Import-Export-for-Anki
